<article class="vehicle">
<div width="100%">
<table style="border: 1px solid black" align="center" width="90%">
   <thead>
      <tr>
         <th colspan="2">Vehicle Details</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Year</td>
         <td>{{model.vehyear}}</td>
      </tr>
      <tr>
         <td>Make</td>
         <td>{{model.vehmake}}</td>
      </tr>
      <tr>
         <td>Model</td>
         <td>{{model.vehmodel}}</td>
      </tr>
      <tr>
         <td>Color</td>
         <td>{{model.vehcolor}}</td>
      </tr>
      <tr>
         <td>Mileage</td>
         <td>{{model.vehmileage}}</td>
      </tr>
      <tr>
         <td colspan="2"><img src={{model.vehimage}} height=64 alt="{{id}}"></td>
      </tr>
   </tbody>
</table>
</div>
</article>
{{outlet}}