<article class="edit-vehicle">
<div class="mdc-card mdc-theme--dark">
<h3>Edit vehicle details</h3>
<table style="border: 1px solid black" align="center" width="90%">
   <thead>
      <tr>
         <th colspan="2">Edit Vehicle Details</th>
      </tr>
   </thead>
   <tbody>
      <form onsubmit="">
         {{input class="input" value=vin placeholder="Vehicle ID Number"}}
         {{input class="input" value=vehyear placeholder="Year"}}
         {{input class="input" value=vehmake placeholder="Vehicle Make"}}
         {{input class="input" value=vehmodel placeholder="Vehicle Model"}}
         {{input class="input" value=vehcolor placeholder="Vehicle Color"}}
         {{input class="input" value=vehmileage placeholder="Mileage"}}
      </form>
   </tbody>
</table>
</div>
</article>