<article class="fillup-list">
<div class="mdc-card mdc-elevation--z5">
<div class="gc-fillup-list">
   <div class="label">Fill-Up Date</div>
   <div class="label">Mileage</div>
   <div class="label">Trip Miles</div>
   <div class="data">{{filldate}}</div><div class="data">{{mileage}}</div><div class="data">{{trip}}</div>
   <div class="label">Fill Amount</div><div class="label">Total Cost</div><div class="label">MPG</div>
   <div class="data">{{amount}}</div><div class="data">{{total}}</div><div class="data">{{mpg}}</div>
</div>
</div>
</article>