<article class="vehicle-list">
<div class="mdc-card mdc-elevation--z5">
<table align="center" width="90%">
   <thead>
      <tr>
         <th colspan="3">{{vehyear}} {{vehmake}} {{vehmodel}}</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td rowspan="2"><img src={{vehimage}} height=64 alt=""></td>
         <td rowspan="1">Color</td><td>{{vehcolor}}</td>
      </tr>
      <tr>
         <td>Mileage</td><td>{{vehmileage}}</td>
      </tr>
   </tbody>
</table>
</div>
</article>