<h3>Dashboard Route</h3>
<div class="route__core-dashboard">
   {{#link-to "core.vehicle-manager.list-view"}}
   <div class="gc-dash"><img src={{car.jpg}} height="80" alt="Vehicles"></div>
   {{/link-to}}
   {{#link-to "core.vehicle-manager.list-view"}}
   <div class="gc-dash"><img src={{car.jpg}} height="80" alt="Fuel / Fill-ups"></div>
   {{/link-to}}
   {{#link-to "core.vehicle-manager.list-view"}}
   <div class="gc-dash"><img src={{car.jpg}} height="80" alt="Trips"></div>
   {{/link-to}}
   {{#link-to "core.vehicle-manager.list-view"}}
   <div class="gc-dash"><img src={{car.jpg}} height="80" alt="Maintenance and Repairs"></div>
   {{/link-to}}
</div>

{{outlet}}